.container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.25em;
    max-width: 85%;
    margin-left: auto;
    margin-right: 0;
}

.message {
    padding-top: 1rem;
    padding-bottom: 1rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    font-size: 1rem;
    background: rgb(237, 241, 226);
    border-radius: 1rem;
    box-shadow: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.message p {
    line-height: 1.625;
    margin: 0;
    padding: 0;
}

@media (max-width: 680px) {
    .message {
        font-size: 0.875rem;
    }
}
