.container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.25em;
    max-width: 85%;
    margin-left: auto;
    margin-right: 0;
}

.message {
    padding: 1.25em;
    font-size: 1rem;
    background: rgb(237, 241, 226);
    border-radius: 0.75em;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 680px) {
    .message {
        font-size: 0.875rem;
    }
}
