.questionInputContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    position: relative;
    background-color: rgba(248, 248, 247, 1);
}

.attachmentContainer {
    height: "100%";
    justify-content: "center";
    align-items: center;
    display: flex;
}

.questionInputTextArea {
    background-color: transparent;
    width: 100%;
    font-size: 1rem;
    line-height: 1.625;
    resize: none;
    padding-right: 3rem;
    flex-grow: 1;
    min-height: 60px;
    max-height: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}

.questionInputButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    margin-right: 1rem;
}

.questionInputButtonsContainer button {
    padding: 0.4rem;
    border-radius: 0.35rem;
}

.verticalSeparator {
    width: 1px;
    align-self: stretch;
    min-height: 60px;
    background-color: #d1d5db;
    flex-shrink: 0;
    margin-right: 1rem;
}

.questionInputSendButton {
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 3px;
}

.questionInputSendButtonDisabled {
    opacity: 0.4;
}

.attachmentButton {
    transform: rotate(-135deg) scaleX(-1) translate(-5px, 0px);
    cursor: pointer;
    font-size: 24px;
    color: #9f9c9c;
}

.leftButtons {
    position: absolute;
    top: -10px;
    bottom: -5px;
    right: -5px;
    background-color:#A0CB06;
    display: flex;
    align-items: center;
    padding: 0 1.1rem;
    z-index: 1;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}