langchain==0.3.13
langchain-core==0.3.27
azure-cosmos==4.5.1
azure-identity==1.15.0
flask==2.2.2
flask-cors==3.0.10
werkzeug==2.2.2
requests
python-dotenv==1.0.0
azure-keyvault-secrets==4.9.0
azure-storage-blob==12.19.0
stripe==10.5.0
cachetools>=5.3.3,<5.6.0
flask-sqlalchemy==2.5.1
pyjwt==2.8.0
python-jose==3.3.0
ms-identity-python @ https://github.com/azure-samples/ms-identity-python/archive/refs/heads/0.9.zip
tenacity==8.5.0
azure-functions==1.21.3
sec-edgar-downloader==5.0.2
pdfkit==1.0.0
pydantic<=2.10.3
tavily-python==0.5.0
openai
tiktoken<=0.8.0
pandas<=2.2.3
pymupdf==1.23.7
reportlab==4.2.5
Flask-Session==0.8.0
langgraph==0.2.60
markdown2==2.5.2
langchain-openai==0.2.14
pydantic-settings==2.7.0
markdown
pydantic[email]
weasyprint==63.1
beautifulsoup4==4.13.3
azure-ai-inference==1.0.0b9
pandasai==3.0.0b19
pandasai-openai==0.1.6
APScheduler==3.10.4
azure-storage-queue
