<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable compression for static files and dynamic responses -->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    
    <!-- Configure compression settings -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <!-- Serve pre-compressed files if available -->
    <staticContent>
      <mimeMap fileExtension=".gz" mimeType="application/gzip" />
      <mimeMap fileExtension=".br" mimeType="application/brotli" />
    </staticContent>

    <!-- Rewrite rules to serve compressed files -->
    <rewrite>
      <rules>
        <!-- Serve .br files for Brotli compression -->
        <rule name="Brotli" stopProcessing="true">
          <match url="(.*)\.js$|(.*)\.css$|(.*)\.html$|(.*)\.json$|(.*)\.xml$|(.*)\.txt$" />
          <conditions>
            <add input="{HTTP_ACCEPT_ENCODING}" pattern="br" />
            <add input="{REQUEST_FILENAME}.br" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:0}.br" />
          <serverVariables>
            <set name="RESPONSE_Content_Encoding" value="br" />
          </serverVariables>
        </rule>
        
        <!-- Serve .gz files for Gzip compression -->
        <rule name="Gzip" stopProcessing="true">
          <match url="(.*)\.js$|(.*)\.css$|(.*)\.html$|(.*)\.json$|(.*)\.xml$|(.*)\.txt$" />
          <conditions>
            <add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip" />
            <add input="{REQUEST_FILENAME}.gz" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:0}.gz" />
          <serverVariables>
            <set name="RESPONSE_Content_Encoding" value="gzip" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
