.profileContainer {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 4px;
    width: 13rem;
    background-color: white;
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb;
    overflow: hidden;
    z-index: 50;

    /* Animation */
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 200ms ease, transform 200ms ease;
    pointer-events: none;
}

.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.hide {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.menuButton {
    display: block;
    padding: 12px 16px;
    color: #1f2937;
    text-decoration: none;
    transition: background-color 0.2s ease, transform 0.2s ease-in-out;
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.menuButton:hover {
    background-color: #f3f4f6;
    transform: translateX(4px);
}

.menuButton:focus {
    outline: none;
}

.menuItem:hover {
    background-color: #f3f4f6;
    transform: translateX(4px);
}

.menuItemContent {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 12px;
    color: #99a1af;
}

.icon2{
    margin-right: 12px;
    align-self: center;
}

.logoutSeparator {
    border-top: 1px solid #e5e7eb;
    margin-right: 5px;
    margin-left: 5px;
}

.logoutButton {
    display: flex;
    padding: 12px 16px;
    text-align: left;
    color: #A0CB06;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.2s;

}

.logoutButton:hover{
    background-color: #e0f2fe;
    color: #8eb134;
}

.textMenu{
    width: 100%;
        text-align: left;
        font-size: 0.95rem;
        color: #374151;
        display: flex;
        align-items: center;
}

.textMenu2{
    width: 100%;
    text-align: left;
    font-size: 0.95rem;
    align-items: center;
}