/*====================================
=            Sidebar Styles          =
====================================*/
.submenuLink:hover {
   
  background-color: #ffffff30;
  color: #000000;
}

.sidebarLink:hover, .submenuLink:hover {
  color: #000000;
}

.submenuLink {
  display: inline-block;
  padding: 4px 8px; 
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
/* Nav Styles */
.nav {
    
    width: 100%;
  }
  
  .navUl {
    list-style-type: none;
    padding-left: 0;
  }
  
  .navLi {
    width: 100%;
  }
  
  .navLink {
    color: #333;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    transition: padding 0.3s ease;
  }
  
  .navLinkCollapsed {
    justify-content: center;
    padding: 10px 0;
    width: 85%;
  }
  
  :global(.navLink:hover) {
    background-color: #85a717;
  }
  

  .navLinkActive {
    background-color: #f5f5f5;
    border-left: 6px solid #0a0b0a;
    font-weight: 700;
    padding: 10px 25px;
  }
  
  .navLinkActiveCollapsed {
    border-left: 6px solid #0a0b0a;
    padding: 10px 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  /* Icon Styles */
  .icon {
    color: rgb(63, 63, 63);
    font-size: 25px;
    margin-right: 15px;
    transition: margin-right 0.3s ease;
  }
  
  .iconCollapsed {
    margin-right: 0;
  }
  
  /* Collapse Button */
  .collapseButton {
    color: rgb(63, 63, 63);
    border-right: 2px solid #0a0b0a;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
  
  .collapseButtonCollapsed {
    position: absolute;
    bottom: 20px;
    left: 10px;
    border-left: 2px solid #0a0b0a;
    border-right: none;
  }
  
  /* Sidebar Link */
  /* Change size of the letters*/
  .sidebarLink {
    display: flex;
    font-size: 14px;
    white-space: nowrap;
    align-items: center;
    line-height: 26px;
    position: relative;
    padding: 9px 9px;
    border-radius: 6px;
    gap: 6px;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 4px;
    width: 100%;
    cursor: pointer;
    user-select: none;
  }
  
  .sidebarLinkIcon {
    font-size: 1.5rem;
    color: var(--bs-heading-color);
    opacity: 0.8;
  }
  
  :global(.sidebarLink:hover) {
    color: #000000;
  }

  /* CHANGE COLOR PREMIUM TIERS BUTTON*/
  .sidebarLinkActive{
    background-color: #000000;
    color: #fff;
    box-shadow: 0px 17px 20px -8px rgba(77, 91, 236, 0.23);
    cursor: pointer;
    user-select: none;
  }
  
  .sidebarLinkActive:hover{
    color: #fff;
    box-shadow: 0px 17px 20px -8px rgba(77, 91, 236, 0.23);
  }

  .sidebarLinkActiveIcon {
    color: #a7c444;
  }
  
  .sidebarLinkActiveI {
    color: #A7C444;
  }
  
  /* Nav Small Cap */
  .navSmallCap {
    font-size: 12px;
    font-weight: 600;
    padding: 7px 0;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #333;
    transition: color 0.3s ease;
    text-transform: uppercase;
  }

  .navSmallCapIcon {
    display: none;
  }
  
  /* Submenu Styles */
  .submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding-left: 20px;
    margin: 0;
    border-radius: 0.4em;
    background-color: #ffffff30;
  }
  
  .submenuActive {
    max-height: 200px; /* Adjust as needed */
  }
  
  .submenuArrow {
    margin-left: auto;
    transition: transform 0.3s ease;
  }
  
  .submenuArrowActive {
    transform: rotate(180deg);
  }
  
  .submenuItem {
    border-bottom: 1px solid #33333329;
    padding: 4px 8px;
  }
  
  /* Sidebar Divider */
  .sidebarDivider {
    height: 0.5px;
    display: block;
    margin: 20px 0;
    background: #00000029;
    width: 100%;
    
  }
  
  /* Left Sidebar */
  .leftSidebar {
    width: 280px;
    background-color: #a7c444;
    position: absolute;
    transition: 0.2s ease-in;
    height: 100%;
    z-index: 11;
    position: fixed;
    top: 0;
  }
  
  /* Brand Logo */
  .brandLogo {
    min-height: 72px;
    padding: 3em 28px 1.5em;
  }
  
  .brandLogoImg {
    max-width: 11em;
  }
  
  /* Close Button */
  .closeBtn {
        background: none; /* Remove background */
        border: none; /* Replace #000 with your desired border color */
        color: none; /* Text color matching your border color or choose another */
        padding: 0; /* Adjust padding as needed */
        border-radius: 0; /* Optional: for rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
        transition: all 0.3s ease; /* Optional: smooth transition for hover effect */
      }  
  
  /* Sidebar Toggler */
  .sidebarToggler {
    /* Define styles if needed */
  }
  
  /* Scroll Sidebar */
  .scrollSidebar {
    overflow-y: auto;
    padding: 0 16px 0 28px;
    height: calc(100vh - 128px);
    border-radius: 12px;
  }
  .scrollSidebar::-webkit-scrollbar {
    width: 4px; 
    background-color: transparent;
}

.scrollSidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}

.scrollSidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); 
}

.simplebarTrackHorizontal {
  visibility: hidden !important;
}

.cursorPointer {
  cursor: pointer;
}
  
  /* LG Class */
  .lg {
    /* Define styles if needed */
  }
  
  /* Responsive Adjustments */
  @media (max-width: 1199px) {
    .leftSidebar {
      left: -260px;
    }
  
    .showSidebar  {
      left: 0;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  
    .brandLogo,
    .scrollSidebar {
      padding: 0 16px;
    }
  }
  