


/* Layout Styles */

.bodyWrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.2s ease-in-out;
    background-color: #f9fafb;
  }
  
  .bodyWrapper.expanded {
    margin-left: 260px;
  }

  .bodyWrapper.collapsed {
    margin-left: auto;
  }

  @media (max-width: 900px) {
    .bodyWrapper {
      margin-left: 0 !important;
    }
}

  .bodyWrapperInner {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    background-color: #f9fafb;

  }
  
  
  /* Responsive Layout Adjustments */
  
    @media (min-width: 1200px) {
      .bodyWrapperFull {
        margin-left: 260px;
      }
    }
  
  
  /* App Header Styles */
  
  .appHeader {
    z-index: 50;
    background-color: var(--bs-tertiary-bg);
    padding: 0 25px;
    top: 0;
  }
  