.container {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.button {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 6px;
    cursor: pointer;
    border: 1.5px solid rgb(231, 231, 231);
    border-radius: 5px;
    padding: 4px 12px;
    transition: .2s;
    background-color: white;
    font-size: 24px;
    height: 35px;
}

.button:hover {
    background-color: rgb(243, 243, 243);
}

.button:active {
    background-color: white;
}