/*====================================
=            Sidebar Styles          =
====================================*/
.submenuItem:hover {
  background-color: #A0CB06;
  transition: ease-in-out 0.3s;
}

.submenuItem:hover .submenuLink {
  color: #ffffff;
  padding-left: 45px;
}

 .submenuItem.sidebarLinkActive:hover {
  background-color: #A0CB06;
 }

.sidebarLink:hover{
  color: #ffffff;
}

/* Change the text for the sections */
.submenuLink {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #0a0b0a;
  font-size: 0.875rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 35px;
  transition: padding-left 0.3s ease, color 0.3s ease;
}
/* Nav Styles */
.nav {
    
    width: 100%;
  }
  
  .navUl {
    list-style-type: none;
    padding-left: 0;
  }
  
  .navLink {
    color: #0a0b0a;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    transition: padding 0.3s ease;
    user-select: none;
    cursor: pointer;
  }
  
  .navLinkCollapsed {
    justify-content: center;
    padding: 10px 0;
    width: 85%;
  }
  
  :global(.navLink:hover) {
    background-color: #A0CB06;
  }
  

  .navLinkActive {
    background-color: #A0CB06;
    border-left: 6px solid #0a0b0a;
    font-weight: 700;
    padding: 10px 25px;
  }
  
  .navLinkActiveCollapsed {
    border-left: 6px solid #0a0b0a;
    padding: 10px 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  /* Icon Styles */
  .icon {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-right: 15px;
    transition: margin-right 0.3s ease;
  }
  
  .iconCollapsed {
    margin-right: 0;
  }
  
  /* Collapse Button */
  .collapseButton {
    color: rgb(63, 63, 63);
    border-right: 2px solid #0a0b0a;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
  
  .collapseButtonCollapsed {
    position: absolute;
    bottom: 20px;
    left: 10px;
    border-left: 2px solid #0a0b0a;
    border-right: none;
  }
  
  /* Sidebar Link */
  /* Change size of the letters*/
    .navLi {
      width: 100%;
    }
        .sidebarLink {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          font-size: 17px;
          color: #0a0b0a;
          text-decoration: none;
          padding: 0.75rem 0.8rem 0.75rem 13px;
          background-color: transparent;
          transition: background-color 0.3s ease, gap 0.3s ease;
          width: 100%;
          position: relative;
          overflow: hidden;
        }
    
        .sidebarLink::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          background-color: transparent;
          transition: background-color 0.3s ease;
        }
    
        /* Hover effect */
        .sidebarLink:hover {
          background-color: #A0CB06;
          gap: 17px;
          transition: background-color 0.2s ease, gap 0.2s ease;
        }


  .sidebarLinkIcon {
    font-size: 1.5rem;
    color: black;
    opacity: 0.8;
  }

  .sidebarLinkActiveIcon {
    font-size: 1.5rem;
    color: white;
    opacity: 1;
  }
  
  .sidebarLink:hover {
    color: #ffffff;
  }

  .sidebarLink:hover .sidebarLinkIcon {
    color: #ffffff;
    opacity: 1;
  }

  /* CHANGE COLOR PREMIUM TIERS BUTTON*/
  .sidebarLinkActive{
    background-color: #A0CB06;
    color: white;
    /* box-shadow: 0px 17px 20px -8px rgba(77, 91, 236, 0.23); */
    cursor: pointer;
    font-weight: 700;
    user-select: none;
  }

  .sidebarLinkActive:hover{
    background-color: #A0CB06;
    /* box-shadow: 0px 17px 20px -8px rgba(77, 91, 236, 0.23); */
  }

  .textActive {
    font-weight: 700;
  }
  
  /* Nav Small Cap */
  .navSmallCap {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 1rem 1rem 0.5rem 1rem;
    color: #71717a;
    user-select: none;
  }

  .navSmallCapIcon {
    display: none;
  }
  
  /* Submenu Styles */
  .submenu {
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    margin: 0;
  }
  
  .submenuArrow {
    margin-left: auto;
    transition: transform 0.3s ease;
  }
  
  .submenuArrowActive {
    transition: transform 0.6s;
    transform: rotate(90deg);
  }
  
  .submenuItem {
    margin: 0;
  }
  
  /* Left Sidebar */
  .leftSidebar {
    width: 320px;
    background: linear-gradient(to bottom, #e2e4e4 1%,#e2e4e4 45%);
    transition: 0.2s ease-in;
    height: 100vh;
    z-index: 30;
    position: fixed;
    top: 0;
  }
  
  /* Brand Logo */
  .brandLogo {
    background-color: #000;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-top: 2rem;
  }
  
  .brandLogoImg {
    width: auto;
    height: 2rem;
    transform: translate(-8px, -8px);
  }
  
  /* Close Button */
  .closeBtn {
        background: none; /* Remove background */
        border: none; /* Replace #000 with your desired border color */
        color: none; /* Text color matching your border color or choose another */
        padding-left: 20px; /* Adjust padding as needed */
        border-radius: 0; /* Optional: for rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
        transition: all 0.3s ease; /* Optional: smooth transition for hover effect */
      }  
  
  /* Sidebar Toggler */
  .sidebarToggler {
    /* Define styles if needed */
  }
  
  /* Scroll Sidebar */
  .scrollSidebar {
    overflow-y: auto;
    height: calc(100vh - 128px);
    border-radius: 12px;
  }
  .scrollSidebar::-webkit-scrollbar {
    width: 4px; 
    background-color: transparent;
}

.scrollSidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}

.scrollSidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); 
}

.simplebarTrackHorizontal {
  visibility: hidden !important;
}

.cursorPointer {
  cursor: pointer;
}
  
  /* LG Class */
  .lg {
    /* Define styles if needed */
  }

  .leftSidebar {
    left: -320px;
  }

  .showSidebar  {
    left: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  
  /* Responsive Adjustments */
  @media (max-width: 1199px) {
    .leftSidebar {
      left: -320px;
    }
  
    .showSidebar  {
      left: 0;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    
  }
  