.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 1rem;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 420px;
    min-height: 380px;
    padding: 2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}



.logo {
    width: 100%;
    z-index: 2;
}

.logo img {
    max-width: 180px;
    height: auto;
}

.containerStep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 1rem;
}

.iconMoney {
    color: white;
    font-size: 48px;
    z-index: 2;
}

.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



/* Step 0 */
.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 420px;
    min-height: 380px;
    background-color: #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title1{
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); 
    color: white;
    z-index: 2;    
}

.text1{
    color: rgb(55, 65, 81);
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 20px;
}

.containerStep1 {
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 1rem;
    /* background-color: #65af81 */
}

.green-overlay {
    position: absolute;
    inset: 0;
    background-color: color-mix(in oklab, #15803d 35%, transparent);
    pointer-events: none;
    border-radius: inherit;
    z-index: 1; }

/* Buttons container */
.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
}

.button,
.buttonPrev {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;


    min-width: 120px;
    height: 40px;

    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}


.button {
    background-color: rgb(22, 163, 74);
    color: white;
    border: none;
}

.button:hover {
    background-color: rgb(21, 128, 61);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.button:active {
    background-color: #7ea91f;
    border-color: #7ea91f;
}


.buttonPrev {
    background-color: transparent;
    border: 1px solid #d1d5db;
    color: rgb(55, 65, 81);
}

.buttonPrev:hover {
    background-color: #f3f4f6;
    border-color: #9ca3af;
}

.icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}


.iconRight:hover {
    transform: translateX(4px);
}


.iconLeft:hover {
    transform: translateX(-4px); }


/* Step 1 */

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 420px;
    min-height: 380px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title2 {
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
    z-index: 2;
}

.text2 {
    color: rgb(55, 65, 81);
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 1rem;
}

.containerStep2 {
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 1rem;
    background-color: #65af81
}

.input {
    width: 88.7%;
    padding: 0.75rem;
    border: 1px solid rgb(22, 163, 74);
    border-radius: 0.375rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}


/* Process Bar */
 .progressContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    z-index: 2;
}

.progressDot {
    height: 8px;
    width: 8px;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.activeDot {
    width: 32px;
    background-color: white; 
    transform: scale(1.3);} 


/* Step 2 */
.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 420px;
    min-height: 380px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title3{
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
    z-index: 2;
    padding: 20px;
}

.text3{
    color: rgb(55, 65, 81);
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 1rem;
}

.containerStep3{
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 1rem;
    background-color: #65af81
}