.newChatButton {
    display: flex;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: none;
    border-radius: 0.75rem;
    color: #979797;
    transition: 0.3s;
    position: sticky;
}

.newChatButton:hover {
    background-color: #A0CB06;
    color: white;
}

.newChatButtonDisabled {
    display: flex;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #bfbfbf;
    border: none;
    border-radius: 0.75rem;
    cursor: not-allowed;
    opacity: 0.5;
    transition: 0.3s;
    font-style: italic;
}

.tooltipContainer {
    position: relative;
    display: inline-block;
}

.tooltipText {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 110%;
    left: 50%;
    border-radius: 6px;
    border: 1px solid #A0CB06;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipContainer:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
    .tooltipContainer:hover .tooltipText {
        visibility: hidden;
        opacity: 0;
    }
}